<ion-content>
  <ion-slides pager="true">

    <ion-slide class="slide_img">
      <div>
        <img src="assets/images/slide1.png">
        <h1>Slide 1</h1>
        <br>
        <p>blabla blabla bla bla puta que pariu</p>
      </div>
    </ion-slide>

    <ion-slide class="slide_img">
        <div>
            <img src="assets/images/slide2.png">
            <h1>Slide 2</h1>
            <br/>
            <p>funções ..............</p>
          </div>
    </ion-slide>

    <ion-slide class="slide_img">
        <div>
            <img src="assets/images/slide3.png">
            <h1>Slide 3</h1>
            <a (click)="VaiParaTelaInicial()">teste</a>
          </div>
    </ion-slide>
  </ion-slides>
</ion-content>