<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-item>
      <ion-avatar>
        <img src="assets/images/sara.jpeg">
      </ion-avatar>
      <h2 class="feed_title">{{nome_usuario}}</h2>
      <p class="feed_para">November 5, 1955</p>
    </ion-item>

    <img src="assets/images/image1.jpg">

    <ion-card-content>
      <p>Estou criando um app foda !</p>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comments</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          11h ago
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>